beautifulsoup4==4.14.2
fastapi==0.121.1
newsapi_python==0.2.7
nltk==3.9.2
numpy==2.3.4
pandas==2.3.3
pydantic==2.12.4
Requests==2.32.5
sentence_transformers==5.1.1
spacy==3.8.7
spacy-lookups-data
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
supabase==2.24.0
torch==2.7.1
transformers==4.57.1
uvicorn==0.38.0
